{% extends "layout.html" %}

{% block title %}
    Sell Stocks
{% endblock %}

{% block main %}

    <form action="/sell" method="post">
       <label class="sr-only" for="symbol">Select a Stock</label>
            <select class="form-control" id="symbol" name='symbol'>
                {% for stock in stocks %}
                <option value="{{ stock['symbol'] }}">{{ stock['symbol'] }}</option>
                {% endfor %}
            </select>

           </div>
        </div>
        <div class="form-group">
            <input class="form-control" name="shares" placeholder="Number of Shares" min="1" type="number"/>
        </div>
        <button class="btn btn-primary" type="submit">Sell</button>
    </form>
{% endblock %}